@use "@/styles/variables" as *;

.triggerWrapper {
  position: relative;
  display: inline-block;
}

.triggerContent {
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  color: $secondary-500;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid $secondary-500;
  border-radius: 8px;
  background-color: $secondary-50;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.option {
  min-width: 130px;
  padding: 12px 32px;
  border: none;
  color: $secondary-500;
  font-size: $font-lg;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;

  @include mobile {
    min-width: 112px;
    font-size: $font-md;
    padding: 12px 28px;
  }

  &:hover {
    background-color: $secondary-100;
  }
}
