@use "@/styles/variables" as *;

.commentWrapper {
  margin-top: 40px;

  @include mobile {
    margin-top: 24px;
  }
}

.sectionTitle {
  color: $secondary-600;
  font-size: $font-lg;
  font-weight: 600;

  @include mobile {
    font-size: $font-md;
  }
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 24px;
  }
}

.commentForm button {
  align-self: flex-end;
}

.commentList {
  > * + * {
    margin-top: 16px;
  }
}

.commentMoreButton {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  @include mobile {
    margin-top: 40px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary-400;
  font-size: $font-md;
  width: 100%;

  @include mobile {
    font-size: $font-sm;
  }
}

.empty img {
  width: 196px;
  height: 196px;
}
