@use "@/styles/variables" as *;

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px 0 124px;

  @include tablet {
    padding: 24px 24px 124px;
  }
}

.bestBoardList {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 24px;
  margin-bottom: 72px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

.title {
  font-size: $font-xl;
  color: $secondary-900;
  font-weight: 700;

  @include mobile {
    font-size: $font-lg;
  }
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.allBoardList {
  margin-bottom: 24px;
}

.empty {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary-400;
  font-size: $font-md;
  width: 100%;

  @include mobile {
    font-size: $font-sm;
  }
}

.empty img {
  width: 196px;
  height: 196px;
}
