$font-3xl: 32px;
$line-3xl: 42px;

$font-2xl: 24px;
$line-2xl: 32px;

$font-xl: 20px;
$line-xl: 32px;

$font-2lg: 18px;
$line-2lg: 26px;

$font-lg: 16px;
$line-lg: 26px;

$font-md: 14px;
$line-md: 24px;

$font-sm: 13px;
$line-sm: 22px;

$font-xs: 12px;
$line-xs: 20px;
