@use "@/styles/variables" as *;

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.modal {
  border-radius: 16px;
  background-color: $secondary-50;
  width: 416px;
  padding: 32px;

  @include mobile {
    width: 320px;
    padding: 24px;
  }
}
